.result {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 30px;
  border-radius: 20px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

span {
  font-size: small;
  color: aliceblue;
}

.right-ans,
.wrong-ans {
  width: 200px;
}
